<div class="container-fluid container-fluid-custom">
    <h1 class="text-center">About</h1>
    <div class="d-flex flex-row align-items-center">
        <p class="text-center">Welcome to Nootey! We are passionate about helping you organize your thoughts, ideas, and daily tasks seamlessly.</p>
        <p class="text-center">Our journey began with a simple idea: to create a digital space where individuals could capture, store, and access their notes with ease. Whether you're a student, professional, or creative thinker, our app is designed to enhance your productivity
            and creativity.</p>
        <p class="text-center">Our team is dedicated to crafting an intuitive and user-friendly platform that empowers you to take notes effortlessly.</p>
    </div>
</div>