<!--Section: FAQ-->
<section class="container-fluid container-fluid-custom">
    <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
    <p class="text-center mb-5">
        Find the answers for the most frequently asked questions below
    </p>

    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i>What is the purpose of a nootey?
            </h6>
            <p>
                <strong><u>Nootey</u></strong> is designed to help you quickly capture, store, and organize information, ideas, and tasks digitally.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> Is my data safe and secure? </h6>
            <p>
                <strong><u>Yes, it is possible!</u></strong> we take data security seriously. Your notes are encrypted and stored securely to protect your privacy.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> Can I access my notes from multiple devices?
            </h6>
            <p>
                Absolutely! Our app is available on various platforms, and your notes sync across devices in real-time.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> Is there a limit to the number of notes I can create?
            </h6>
            <p>
                No, you can create as many notes as you need, and our app is designed to handle a large volume of notes efficiently.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i>Is there a search function to find specific notes?
            </h6>
            <p><strong><u>Absolutely! </u>.</strong>You can easily search for notes using keywords or phrases, making it simple to find what you're looking for.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i>How do I create a new note?</h6>
            <p>
                To create a new note, simply open the dashboard and tap the icon of sticky note button. You'll be taken to a blank note where you can start typing and organizing your thoughts.
            </p>
        </div>
    </div>
</section>
<!--Section: FAQ-->