<div class="container-fluid container-fluid-custom">
    <h1 class="text-center">Features</h1>
    <div class="d-flex flex-column align-items-center">
        <p class="text-center">Multi-Device Synchronization and Collaboration</p>
        <br/>
        <p class="text-center">Handwriting Recognition</p>
        <br/>
        <p class="text-center">Voice-to-Text Transcription</p>
    </div>
</div>